<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Jogador VS Monstro</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="init" v-if="welcome">
            <div class="welcome">
              <div class="test">
                <h1>JOGADOR VS MONSTRO</h1>
                <img src="images/logo.png" alt="image logo">
              </div>
              <div class="test">
                <img src="images/atm-green.png" alt="image logo">
                <p>Digite o seu nome a baixo e do seu inimigo e inicie o jogo</p>
              </div>
              <h3>Digite seu nome:</h3>
              <input type="text" v-on:input="nomeJogador">
              <h3>Digite o nome do seu inimigo:</h3>
              <input type="text" v-on:input="nomeMonstro">
            </div>
            <div class="dev">
              <img src="images/dev.png" alt="image logo">
              <footer>Desenvolvido por Anderson Teala</footer>
            </div>
          </div>
          <template v-if="logged">
              <div class="panel scores">
                  <div class="score">
                    <img src="images/player.png" alt="image player">
                    <h1>{{ jogador }}</h1>
                    <div class="life-bar">
                      <div class="life"
                        :class="{danger: playerLife <= 20}"
                        :style="{width: playerLife + '%'}"></div>
                    </div>
                    <div>{{ playerLife }}%</div>
                  </div>
                  <div class="score">
                    <img src="images/monster.png" alt="image monster">
                    <h1>{{ monstro }}</h1>
                    <div class="life-bar">
                      <div class="life"
                      :class="{danger: monsterLife <= 20}"
                      :style="{width: monsterLife + '%'}"></div>
                    </div>
                    <div>{{ monsterLife }}%</div>
                  </div>
              </div>
              <div v-if="hasResult" class="panel result">
                <div v-if="monsterLife == 0" class="win">Você Ganhou!!! :)
                  <img class="trophy" src="images/trophy.png" alt="image trophy">
                </div>
                <div v-else class="lose">Você perdeu!!! :(</div>
              </div>
              <div class="panel buttons">
                  <template v-if="running">
                      <button @click="attack(false)"
                          class="btn attack">Ataque</button>
                      <button @click="attack(true)"
                          class="btn especial-attack">Ataque Especial</button>
                      <button @click="healAndHurt"
                          class="btn heal">Curar</button>
                      <button @click="desistir"
                          class="btn give-up">Desistir</button>
                      <button @click="reiniciar"
                          class="btn give-up">Reiniciar</button>
                  </template>
                <button v-else @click="startGame"
                    class="btn new-game">Iniciar Jogo</button>
              </div>
          </template>
          <button v-else @click="entrarGame"
              class="btn-entrar" @click="entrarGame">ENTRAR</button>
          <div v-if="logs.length"
              class="panel logs">
              <ul>
                  <li v-for="log in logs"
                      :class="log.cls"
                      class="log">{{ log.text }}</li>
              </ul>
            </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>